*{
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#wrapper{
    position: relative;
    top:100px;
    width: 800px;
    margin:0 auto;
    background: #0d3349;
}
video{
    width: inherit;
}
video::-webkit-media-controls {
    display:none !important;
}
.controll-bar{
    position: fixed;
    width: 1300px;
    height:30px;
    top: 10px;
    left: 10px;
    background: #ddd;
    border: 1px solid #999;
    border-radius: 4px;
}
.bt{
    position: relative;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    top:3px;
    padding: 0 12px;
    color: white;
    background: #2a9292;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
}
.bt:hover{
    background: #4aa2a2;
}